<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
      <meta charset="utf-8"></meta>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
      <meta name="description" content=""></meta>
      <meta name="author" content=""></meta>
      <link rel="shortcut icon" type="image/png" th:href="@{/images/music.png}"></link>

      <title>Music Collection</title>

      <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.css}" rel="stylesheet"></link>
      <link th:href="@{/css/starter.css}" rel="stylesheet"></link>
      <link th:href="@{/css/style.css}" rel="stylesheet"></link>
  </head>

  <body>
  
      <div th:fragment="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Music Collection</a>
              </div>
              <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                      <li class="active"><a href="/artist">Artists</a></li>
                      <li><a href="/style">Styles</a></li>
                      <li><a href="/people">People</a></li>
                  </ul>
              </div>
          </div>
      </div>
      
      
    <p th:text="${message}"></p>
    
    <div class="container" style="padding: 70px;">
        <form th:action="@{/artist/{id}/member/add/(id=${id})}" method="post">
          <fieldset>

            <b th:if="${not #lists.isEmpty(members)}">Miembros</b>
            <div th:if="${not #lists.isEmpty(members)}" th:each="member : ${members}">
                <label th:text="${member.name}"></label>
               <input type="checkbox" th:name="members" th:value="${member.id}"/> 
            </div>

            <input type="submit" value="¡Suscríbe!"/>
          </fieldset>

        </form>
    </div>
    
  </body>

</html>
