<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
  
    <p th:text="${message}"></p>
    
    <form th:action="@{/artist/{id}/style/add/(id=${id})}" method="post">
      <fieldset>
        
        <b th:if="${not #lists.isEmpty(style)}">Estilos</b>
        <div th:if="${not #lists.isEmpty(style)}" th:each="elem : ${style}">
            <label th:text="${elem.name}"></label>
           <input type="checkbox" th:name="style" th:value="${elem.id}"/> 
        </div>
               
        <input type="submit" value="¡Suscríbe!"/>
      </fieldset>
        
    </form>
    
  </body>

</html>
