<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
  
    <form:checkboxes items="${members}" path="members" />
    <form action="/artist/add" method="post">
      <fieldset>
        <input type="text" name="name" />
        <input type="number" name="year" />
        
        <b th:if="${not #lists.isEmpty(members)}">Miembros</b>
        <div th:if="${not #lists.isEmpty(members)}" th:each="member : ${members}">
            <label th:text="${member.name}"></label>
           <input type="checkbox" th:name="members" th:value="${member.id}"/> 
        </div>
        
        <b th:if="${not #lists.isEmpty(styles)}">Estilos</b>
        <div th:if="${not #lists.isEmpty(styles)}" th:each="style : ${styles}">
            <label th:text="${style.name}"></label>
           <input type="checkbox" th:name="styles" th:value="${style.id}"/> 
        </div>
        
        <input type="submit" value="¡Suscríbe!"/>
      </fieldset>
    </form>
     
  </body>

</html>
