<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
  
    <form action="/artist/add" method="post">
      <fieldset>
        <input type="text" name="name" />
        <input type="number" name="year" />
        <select multiple th:if="${not #lists.isEmpty(members)}">
            <div th:each="member : ${members}">
                <option th:attr="value=${member.id}"th:text="${member.name}"></option>
            </div>
        </select>
        <input type="submit" value="¡Suscríbe!"/>
      </fieldset>
    </form>
     
  </body>

</html>
