<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
  
    <p>Welcome to our grocery store!</p>
    
    <form action="/people/add" method="post">
      <fieldset>
        <input type="text" name="name" />
        <input type="number" name="year" />
        <input type="submit" value="¡Suscríbe!"/>
      </fieldset>
    </form>
    
    <p>Welcome to our grocery store!</p>
  
  </body>

</html>
