<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
  
    <p th:text="${message}"></p>
    
    <ul>
        <div th:each="elem : ${elements}">    
            <li>
                <p th:text="${elem.name}"></p>
                <p th:text="${elem.years}"></p>
                <form th:attr="action=${action}" method="post">
                    <input type="hidden" id="id" name="id" th:attr="value=${elem.id}">
                    <input type="submit" value="Eliminar">
                </form>
            </li>    
        </div>
    </ul>
    
  </body>

</html>
